<!-- container form field -->
<form *ngIf="menuCategories"  (ngSubmit)="onSubmit()" [formGroup]="form">
  <div *ngIf="selectedCategory" class="card-body">

    <div class="form-group">
      <label for="inputRole">Select Role</label>
      <select class="form-control"  (change)="onChangeParticipant($event.target.value)" >
          <option *ngFor="let menuCategory of menuCategories" [value]="menuCategory.participantTypeId">{{menuCategory.participantType}}</option>
      </select> 
    </div>     

    <div  *ngFor="let category of selectedCategory.data"  >

      <sn-scroll-spy-section id='{{category.menuId}}' [attr.id]="category.menuId" for="foo" class="card"   >
        <div class="card-header">{{category.menuName}}</div>
        <div class="card-body">
          <div *ngFor="let field of selectedFields.data" >                    
            <app-field 
              *ngIf="field.category === category.menuName" 
              [field]="field" 
              [form]="form" 
              [dropdownOptions]="dropdownOptions">
            </app-field>
          </div>                     
        </div>
      </sn-scroll-spy-section> 

      <hr style="margin-bottom:20px !important; margin-top:20px !important; " />

    </div>                
  </div> 

  <div>
    <button type="submit" [disabled]="!form.valid" class="btn btn-primary">Save</button>
  </div>
</form>

<div *ngIf="payLoad" >
  <strong>Saved the following values</strong><br>{{payLoad}}
</div>