<div class="container-fluid header-container">
  <div class="row ">
    <div class="col-md-12 col-md-offset-3 ">
      <h1 class="text-center text-uppercase blue  app-title">Borrower Information</h1>
    </div>
  </div>
  <hr>
</div>


<div class="container main-content">  
  <div class="row">
    <!-- left menu -->
    <div class="col-sm-3" >
      <div class="list-group menu-smart-form" snScrollSpy id="foo">
        <a *ngFor="let menu of selectedCategory" 
          snScrollSpyItem 
          for="foo" 
          [attr.href]="'#' + menu.menuId" 
          href="#{{menu.menuId}}"          
          [ngClass]="{'list-group-item': true, 'list-group-item-action': true }"
        >
            {{menu.menuName}}
        </a>
      </div>      
    </div>    

    <div class="col-sm-7" >        
        <app-dynamic-form 
          *ngIf="menuCategories"          
          [usersinfo]="usersinfo" 
          [fields]="fields" 
          [menuCategories]="menuCategories"          
          (updateMenu)="handleUpdateMenu($event)"
          [dropdownOptions]="dropdownOptions" ></app-dynamic-form>  
    </div>


    <!-- right menu -->    
    <div class="col-sm-2" >
    <div class="userinfo-container" >
      <div *ngFor="let userinfo of usersinfo" class="nav flex-column nav-pills " role="tablist" aria-orientation="vertical">
        <div class="card text-center space-bottom20 userinfo "  >
          <div class="card-block-b">

            <div class="progress">
              <div class="progress-bar bg-success" [ngStyle]="{ 'width': userinfo.complete + '%' }" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                  {{userinfo.complete}}
              </div>
            </div>

            <h4 class="card-title-b"><i class="fa fa-user-circle fa-1x"></i> <a class="" href="borrower2.html">{{userinfo.username}}</a></h4>
            <h6 class="user-role">{{userinfo.role}}</h6>
          </div>
        </div>
      </div>
    
    </div>
    </div>      


  </div>
</div>
