<div class="form-group" [formGroup]="form">

  <label [attr.for]="field.fieldId">{{field.fieldName}}</label>

  <div [ngSwitch]="field.controlType">

    <input *ngSwitchCase="'textBox'" [formControlName]="field.fieldId"
            [id]="field.fieldId" [type]="text" class="form-control">

    <select *ngSwitchCase="'dropdownBox'" class="form-control" [id]="field.fieldId"  [formControlName]="field.fieldId">
      <option *ngFor="let opt of options" [value]="opt.key" >{{opt.value}}</option>
    </select>

    <select *ngSwitchCase="'multiSelectBox'" multiple  class="form-control" [id]="field.fieldId"  [formControlName]="field.fieldId">
      <option *ngFor="let opt of options" [value]="opt.key" >{{opt.value}}</option>
    </select>  
    
    <input *ngSwitchCase="'radioBox'" [formControlName]="field.fieldId"
            [id]="field.fieldId" type="checkbox" class="form-control ">     

  </div> 

  <div class="errorMessage" *ngIf="!isValid">{{question.label}} is required</div>
</div>