/* You can add global styles to this file, and also import other style files */
.userinfo{
  cursor: pointer;
}

.userinfo-container{
  position: fixed;
}

.menu-smart-form{
  position: fixed;
  width: 255px;  
}

.card-block-b .progress{
  margin: 15px 15px 0px 15px  
}

.userinfo .user-role{
  font-size: 12px;
  color: inherit;
  font-weight: inherit;
  margin: 10px 0px  25px 0px
  
}

.card-title-b{
  font-size: 18px;
  margin: 15px 0px 0px 0px
}

.card-title-b a{  
  color: inherit;
  font-weight: bold;
}


a:hover { 
  color: inherit ;
  text-decoration: none;
}

.blue {
  color: #2d5268;
}

.app-title{
  margin-top: 30px;
  margin-bottom: 15px;
}

.userinfo:hover {
  background-color: #2d5268;
  color: #fff !important
}

.userinfo.active{
  background-color: #2d5268;
  color: #fff !important
}

ul.menu-smart-form{
  border: 1px solid rgba(0,0,0,.125) !important 
}

ul.menu-smart-form a{
  color: #337ab7
}

body{
	position: relative; /* required */
}

.main-content{
  padding-top: 135px;  
}

.header-container{
  position: fixed;
  z-index: 999;
  background: #ffffff;  
}

@media (min-width: 1200px){

  .userinfo  {
    width: 250px;
  }

}


